*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.container{
    margin-top: -200px;

}
.orange{
    height: 250px;
    width: 230px;
    background-color: #fff09d;
    position: relative;
    left: 250px;
    top: 380px;
}
.girl{
    /* background-image: url("/girl.jpg"); */
    /* height: 300px; */
    /* width: 290px; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    border-radius: 50px;
    position: relative;
    left: 340px;
    top: -0px;
}
.man{
    z-index: 10;
    position: relative;
    top: 220px;
    left: -60px;
    border-radius: 50px;
    width: 230px;
}
.man2{
    z-index: 10;
    position: relative;
    left: -15px;
    top: 190px;
    border-radius: 30px;
    height: 130px;
    width: 150px;

}
.congratulation{
    height: 40px;
    width: 190px;
    background-color: white;
    z-index: 20;
    position: relative;
    top: -210px;
    left: 180px;
    display: flex;
    padding: 10px; 
    gap: 20px;
    border: 1px solid black;
    border-radius: 30px;
}
.img-icon{
    display: flex;
    height: 50px;
    width: 50px;
    margin-top: -4px;
}
.congratulation2{
    height: 40px;
    width: 190px;
    background-color: white;
    z-index: 20;
    position: relative;
    top: -150px;
    left: 230px;
    display: flex;
    padding: 10px; 
    gap: 20px;
    border: 1px solid black;
    border-radius: 30px;
}


.img-icon2{
    display: flex;
    height: 50px;
    width: 50px;
    margin-top: -4px;
}

.contaner2{
    position: relative;
    left: 700px;
    top: -400px;
    
}

.title{
    font-size: 40px;
    font-weight: 900;
    /* position: relative; */
}
.heading{
    font-size: 60px;
    font-weight: 900px;
}
.bookmark{
    display: flex;
    gap: 20px;
}
.iconbookmark{
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.sqaur{
    height: 80px;
    width: 80px;
    /* border: 2px solid black; */
    border-top:2px solid black ;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right:2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -750px;
    left: 520px;
    z-index: -1;
    transform: rotate(-40deg);

}
.sqaur2{
    height: 50px;
    width: 50px;
    /* border: 2px solid black; */
    border-top:2px solid black ;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right:2px solid transparent;
    border-radius: 50%;
    transform: rotate(130deg);


}
.line{
    height: 30px;
    width: 100px;
    position: relative;
    top: -967px;
    left: 420px;
    z-index: -3;
}